DB_USER=taskflow
DB_PASSWORD=your_password
DB_NAME=taskflow_db
DATABASE_URL="postgresql://taskflow:your_password@localhost:5432/taskflow_db"

JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret

PORT=4000
NODE_ENV=development
